:root{
    --black_background: #191a1a;
    --white-font: #e8e6e3;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400px;
    font-size: 50px;
    line-height: 66px;
    align-content: center;
}
body{
    background-color: var(--bg);
    color: var(--fontcolor);
    font-family: 'Times New Roman', Times, serif;
}

.light_theme{
    --fontcolor: #000000;
    --bg: #FFFFFF;
  }

.dark-theme{
    --fontcolor: var(--white-font);
    --bg: var(--black_background);
}

.fa-brands{
    color: white;
    text-decoration: none;
}

.fa-regular{
    color: white;
    text-decoration: none;
}