
body {
  background-color:Linen;
}

.intro {
  font-size: 50px;
  text-align: center;
  font-family: Arial;
}

.me {
  text-align: center;
  font-size: 20px;
}

.languages {
  text-align: center;
}

.image {
  text-align: center;
}
