*{
  font-family: 'PT Sans', 'sans serif';
  
}
body {
  background-color:Linen;
}

.intro {
  font-size: 50px;
  text-align: center;
}

.me {
  text-align: center;
  font-size: 20px;
}

.languages {
  text-align: center;
}

.image {
  text-align: center;
}

.navcontainer{
  display: flex;
}

html{
  scroll-behavior: smooth;
}
